# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\snirg\OneDrive\מסמכים\GitHub\ATP-Project\ATP-Project\src\ATP-Project-Part-C-updated-by-lab-12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
